* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}


ul {
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
} 

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.right-items {
    font-size: small;
}

.links {
    display: flex;    
    gap: 16px;
}

.second {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    padding: 64px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-section {
    display: flex;
    justify-content: flex-start;
}

button {
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px;
}

.header,
.second{
    display: flex;
    justify-content: center;
}

.container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.third {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.small-container p {
    color: black;
}

.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.fourth p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.fourth h3 {
    margin-left: 500px;
}

.fifth {
    display: flex;
}

.row-container {
    display: flex;
    gap: 32px;
}

.third h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 24px;   
}

footer {
    display: flex;
    flex: 1;
    border: 2px solid black;
    background-color: #1F2937;
    color: white;
    padding: 20px;
    align-content: flex-end;
    justify-content: center;
}