* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


ul {
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
} 

.logo {
    font-weight: bold;
}

.right-items {
    font-size: small;
}

.links {
    display: flex;    
    gap: 16px;
}

.second {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    padding: 64px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-section {
    display: flex;
    justify-content: flex-start;
}

button {
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 8px;
    margin-top: 16px;
}

.header,
.second {
    display: flex;
    justify-content: center;
}

.container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third {
    display: flex;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.fourth {
    display: flex;
    border: 2px solid black;
    width: 500px;
    height: 200px;
}

footer {
    display: flex;
    flex: 1;
    border: 2px solid black;
    background-color: #1F2937;
    color: white;
    padding: 20px;
    align-content: flex-end;
    justify-content: center;
}